body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #FF9F1C;
    padding: 20px;
    text-align: center;
}

contact {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFBF69;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #FFBF69;
    padding: 10px;
}

nav a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #CBF3F0;
}

main {
    padding: 20px;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #FFBF69;
}